
name: RedundancyRemoval
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        julia-version: ['1.5']
    steps:
    - uses: actions/checkout@v1.0.0
    - name: Set up Julia ${{ matrix.julia-version }}
      uses: julia-actions/setup-julia@v1
      with:
        version: ${{ matrix.julia-version }}
    - name: Test Package
      uses: julia-actions/julia-runtest@latest
      env:
        JULIA_NUM_THREADS: 4
    - name: Upload coverage to Codecov
      uses: julia-actions/julia-uploadcodecov@latest
    - name: Install dependencies Docs
      run: julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - name: Build Docs and deploy
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # For authentication with GitHub Actions token
        # DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }} # For authentication with SSH deploy key
      run: julia --project=docs/ docs/make.jl